hostname = *.acfun.cn, *.acfunchina.com

^https:\/\/api-ipv6\.(app\.)?(acfun\.cn|acfunchina\.com)\/rest\/app\/user\/personalInfo url script-request-header https://raw.githubusercontent.com/KotaHv/surge-script/envjs/Scripts/AcFun.js