hostname = api.m.jd.com

^https?://api\.m\.jd\.com/client\.action\?functionId=(wareBusiness|serverConfig|basicConfig|pingou_item) url script-response-body https://raw.githubusercontent.com/KotaHv/surge-script/OpenAPI/Scripts/jdHistoryPrice.js
